<!DOCTYPE html>
<html>
<head>
  <title>Projeto Rotas e API</title>

  <style>

    body {
      font-family: 'arial';
      background-color: #ffffff;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

   
    .guia {
      background-color: #ffffff;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    .guia st {
      color: black;
      text-decoration: none;
      margin-right: 1px;
    }

    
  </style>
</head>
<body>
<header class="guia">
  <a href="/notas">CALCULAR NOTA</a>
  <a href="/cep">CEP</a>

</header>

<div class="container">
  <div class="main-content">
    <h1><center>Projeto Rotas e API</center></h1>
      <p>Projeto consumindo API e utilizando do serviço de rotas para o funcionamento, existem duas rotas para serem utilizadas</p>
      <p>Localhost:4000/notas e Localhost:4000/cep</p>
      <p>O metodo utilizado foi Factory Method</p>
  </div>
</div>
</body>
</html>
